
.container{
  max-width: 1050px;
  margin: auto;
}

.main-section{
  background-color: #F6F6EF;
}

.header{
  height: 42px;
  width: 100%;
  background-color: #ff742b;
  display: flex;
  justify-content: space-between;
}



.hacker-news-clone-logo{
  width: 50px;
  height: 50px;
}

.hide{
  display: none;
}

.search-bar{
  max-width: 500px;
  width: 100%;
  height: 32px;
  margin: 10px 10px 10px 10px;
  background: white;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.068);
}

.search-content{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 0px 10px;
  /* border: 1px solid; */
}

.search-logo-and-highlight{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

.search-logo{
  width: 20px;
  height: 18px;
  margin: 2px 5px 0px 5px;

}


.search-highlight{
  width: 300px;
  /* width: 100%; */
  height: 22px;
  margin: 0px 0px 0px 5px;
  background: white;
  border: 0px solid;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0.068);
  color: #837975d8;
}

.algolia-logo{
  width: 100px;
  height: 40px;
  margin: -8px 30px 0px 10px;
  /* border: 1px solid; */
  display: none;
}

.settings-logo{
  width: 24px;
  height: 24px;
  margin: 12px 10px 0px 0px;
}

.options-section{
  display: hide;
  justify-content: flex-end;
  background-color: #F6F6EF;
  /* border: 1px solid;
  border-color: black;  */
}

.single-options{
  width: 74.3px;
  height: 20px;
  margin: 10px 10px 0px 0px;
  padding: 3px;
  display: flex;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.349); 
}

.popularity-options{
  width: 90px;
}


.dropdown-arrow{
  width: 14px;
  height: 24px;
  border: 0px;
  color: grey;
  margin: 0px 0px 25px 0px;
  /* background: url("dropdown-arrow.svg") */
}


.single-options p{
  margin: 1px 5px 0px 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.74); ;
  /* border: 1px solid;
  border-color: black;  */
}




.lists-of-headlines{

}

.headline{
  display: flex;
  margin: 0px 0px 0px 10px;
}

.headline-no{
  display: flex;
  /* border: 1px solid;
  border-color: black; */
}


.headline-no p{
  margin: 5px 0px 0px 0px;
}




.headline-section{
  display: flex;
  margin: 0px 0px 0px 0px;
  /* border: 1px solid;
  border-color: black; */
}

.headline-content{
  margin: 0px 0px 0px 10px;
}

.main-headline{
  margin: 5px 0px 0px 0px;
}

.headline-website{
  margin: 10px 0px 0px 3px;
  font-size: 12px;
  color: #a38f87;
}

.headline-comments{
  margin: 0px 0px 0px 0px;
  display: inline-block;
  /* border: 1px solid;
  border-color: black; */
}



.headline-comments p{
  margin: 0px 5px 0px 0px;
  font-size: 13px;
  color: #a38f87;
  display: inline-block;
  /* border: 1px solid;
  border-color: #b3918271; */
}


.link-style{
  text-decoration: none;
  color: #090402;
}

.pagination-section {
  width: 100px;
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  color: #b39182ee;
}

.pagination-box{
  width: 30px; 
  height: 25px;
  margin: 15px 0px 10px 5px;
  /* padding: 4px; */
  border: 1px solid;
  border-radius: 4px;
  border-color: #b3918271; 
}

.pagination-box p{
  margin: 4px 10px 6px 12px;
  /* padding: 0px 4px 0px 4px; */
  font-size: 14px;
  /* border: 1px solid; */  
}


.footer-section {
  margin: 20px 15px 0px 5px; 
}

.footer-section-li{
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  /* border: 1px solid; */
}

.footer-section-li li{
  margin: 5px 5px 0px 0px;
  font-size: 13px;
  font-weight: 450;
  /* border: 1px solid; */
}

input:focus, textarea:focus, select:focus, button:focus{
  outline: #2762BC;
  border:0px solid #2762BC;
  box-shadow: 0 0 0px #719ECE;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
/* opacity: 0.4; Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #719ECE;
}

::-ms-input-placeholder { /* Microsoft Edge */
color:#719ECE;
}


@media screen and (min-width: 600px){
  
  .header{
    height: 50px;
  }

  .header-text-section{
    display: block;
  }
  
  .header-image{
    margin-top: 10px;
  }


  .header-menu{
    margin: 0px 0px 0px 0px;
  }

  .algolia-logo{
    width: 55px;

    display: inline;
  }
}

